.FooterContainer {
  background: linear-gradient();
  width: 100%;
  margin-top: 14%;
  text-align: center;
  bottom: 0%;
  z-index: -1;
  position: sticky;
  /* padding: 5rem 0rem 0.5rem 0rem;
    position: sticky;
    bottom: 0%;
    z-index: -1; */
}

.icons {
  margin-bottom: 20%;
  padding: 8px;
}

.contactIcons {
  color: var(--blueContrast);
  background-color: var(--lighterTheme);
  padding: 1rem;
  font-size: 5rem;
  border-radius: 6px;
}

.contactIcons:hover {
  color: #027bcc;
}

.FooterGmailLink {
  color: var(--blueContrast);
}
